body{
  background-color:blanchedalmond;
  text-align: center;
}
input{
  border: 1px solid grey;
}
#requestInfo{
  color:black;
  border: 1px solid grey;
  background-color: gainsboro;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}