#results {
  color: black;
  border: 1px solid grey;
  background-color: gainsboro;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  margin: auto;
  width: 80%;
}

.content {
  margin-left: 10px;
}
